@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro" !important;
  background: #d3dedc !important;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
}

nav {
  z-index: 20;
}

.bg-blue {
  background: #398ab9;
}

.header h1 {
  font-family: "Righteous" !important;
  font-size: 1.7rem;
  color: #fff !important;
  text-shadow: -2px -1px 0 #1e2022, -2px 0px 0 #1e2022, -2px 1px 0 #1e2022, -1px -2px 0 #1e2022, -1px -1px 0 #1e2022, -1px 0px 0 #1e2022, -1px 1px 0 #1e2022, -1px 2px 0 #1e2022, 0px -2px 0 #1e2022, 0px -1px 0 #1e2022, 0px 0px 0 #1e2022, 0px 1px 0 #1e2022, 0px 2px 0 #1e2022, 1px -2px 0 #1e2022, 1px -1px 0 #1e2022, 1px 0px 0 #1e2022, 1px 1px 0 #1e2022, 1px 2px 0 #1e2022, 2px -1px 0 #1e2022, 2px 0px 0 #1e2022, 2px 1px 0 #1e2022;
}

.dropdown {
  position: relative;
  height: 100%;
}
.dropdown .bi-arrow-right::before {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.dropdown .option {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  top: 65px;
  right: 0;
  background: #fff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
}
.dropdown .option::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 68%;
  z-index: 4;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid #fff;
}
.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
.dropdown .option div:hover,
.dropdown .option div .option::before {
  background-color: rgba(136, 136, 136, 0.5019607843);
}

.active {
  opacity: 1 !important;
}

.rotateArrow::before {
  transform: rotate(90deg) !important;
}

.category {
  left: 0;
  top: 57px;
  height: calc(100% - 57px);
  transition: left 0.4s ease-in-out;
  background: #398ab9;
  content: "";
  width: 25%;
  position: fixed;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: translate(0);
}
.category::-webkit-scrollbar {
  width: 0px;
}
.category .on-hover {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.category .on-hover:hover {
  background-color: rgba(193, 193, 193, 0.322);
}

.dropdown1 {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
}
.dropdown1 .option1 div:hover {
  background-color: rgba(193, 193, 193, 0.322);
}

.show-menu {
  background-color: rgba(193, 193, 193, 0.322);
  max-height: 200px;
  overflow: hidden;
}

.profile-arrow::before {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.main-body {
  transition: width 0.4s ease-in-out;
}

#showMegaMenu {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  z-index: 5;
  opacity: 0;
  width: 16%;
  height: 83%;
  cursor: pointer;
}

#showMegaMenuIcon {
  display: block;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-row {
  padding-top: 57px !important;
}

.product {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: 38px 64px 150px;
  grid-template-areas: "product-name product-model product-feature" "product-photos product-photo-photo product-feature" "product-photos product-photo-photo product-feature" "product-discription product-discription product-discription" "product-brand product-brand  product-price" "product-category product-category product-category" "product-special product-special product-special" "product-tag  product-tag product-tag" "product-submit product-submit product-submit";
}
.product .pr-na {
  grid-area: product-name;
}
.product .pr-mo {
  grid-area: product-model;
}
.product .pr-fe {
  grid-area: product-feature;
}
.product .pr-fe ul {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}
.product .first-glass {
  background-size: 70% !important;
}
.product .second-glass {
  background-size: 100% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}
.product .glass {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.product .glass .bi {
  transform: scale(0.8);
  transition: transform 0.4s ease-in-out, color 0.4s ease-in-out;
  color: rgb(194, 194, 194);
}
.product .glass .bi:hover, .product .glass .bi:focus {
  transform: scale(1);
  color: red;
  background-color: red;
  background-clip: text;
  -webkit-background-clip: text;
}
.product .glass .bi-plus-circle:hover, .product .glass .bi-plus-circle:focus {
  color: rgba(0, 173, 0, 0.596);
  background-color: rgba(0, 173, 0, 0.596);
  background-clip: text;
  -webkit-background-clip: text;
}
.product .glass .bi-wrench-adjustable-circle:hover, .product .glass .bi-wrench-adjustable-circle:focus {
  color: orange;
  background-color: orange;
  background-clip: text;
  -webkit-background-clip: text;
}
.product .pr-ph {
  grid-area: product-photos;
}
.product .pr-di {
  grid-area: product-discription;
}
.product .pr-br {
  grid-area: product-brand;
}
.product .pr-pr {
  grid-area: product-price;
}
.product .pr-sp {
  grid-area: product-special;
}
.product .pr-ca {
  grid-area: product-category;
}
.product .pr-su {
  grid-area: product-submit;
}
.product .pr-ph-ph {
  display: grid;
  grid-area: product-photo-photo;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
}
.product .pr-ta {
  grid-area: product-tag;
}

.photos {
  grid-column: 1/3;
}

.product-remove-specification::before {
  content: "\f2e4";
  font-family: bootstrap-icons !important;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-add-specification::before {
  content: "\f4f8";
  font-family: bootstrap-icons !important;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  .category {
    left: -30%;
  }
}

/*# sourceMappingURL=style.css.map */
