@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@function text-stroke($size: 2, $color: #fff, $correction: 0) {
  $radius: $size - $correction;
  $stroke: ();

  @for $i from -$size through $size {
    @for $k from -$size through $size {
      $x: $k;
      $y: $i;

      @if $k > 0 {
        $x: $k - 0.5;
      } @else if $k < 0 {
        $x: $k + 0.5;
      }

      @if $i > 0 {
        $y: $i - 0.5;
      } @else if $i < 0 {
        $y: $i + 0.5;
      }

      @if ($x * $x + $y * $y <= $radius * $radius) {
        $stroke: append($stroke, $i * 1px $k * 1px 0 $color, comma);
      }
    }
  }

  @return $stroke;
}

@mixin text-stroke($size: 2, $color: #fff, $correction: 0) {
  text-shadow: text-stroke($size, $color, $correction);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro" !important;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

p {
  margin-bottom: 0 !important;
}

.navbar {
  padding: 0.75rem 0 0 !important;
  // background: rgba(97, 97, 97, 0.356);
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);

  #logo {
    font-family: "Righteous" !important;
    font-size: 2rem;
    color: #384aeb !important;
    // @include text-stroke(1, rgb(33, 33, 33));
  }
  .navbar-res {
    display: grid;
    grid-template-columns: 0.7fr 3.1fr 1fr;
    grid-template-areas: "logo searchbar login";

    .le-ga {
      grid-area: logo;
    }

    .bi-list {
      position: absolute;
      display: none;
      font-size: 1.7rem;
      cursor: pointer;
      left: 12px;
      top: 0px;
      content: "";
    }
    #search {
      grid-area: searchbar;
    }
    .lo-bt {
      grid-area: login;
    }
  }
  .search-box {
    .searchbar-div {
      padding: 0.624rem 1.2rem;
      transition: all 0.2s ease-in-out;
      &:hover {
        --bs-bg-opacity: 1;
      }
    }
    .searchbar-input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      input {
        padding: 0.624rem 1.2rem;
        position: relative;
        z-index: 12;
        border: none !important;
        width: 99%;
        height: 96%;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .searching-result {
      border: 1px solid;
      position: absolute;
      width: 100%;
      top: 0;
      padding-top: 0px;
      transition: all 0.4s ease-in-out;
      z-index: 11;
      .res {
        .by-result {
          height: auto;
          width: auto;
          overflow-x: scroll;
          display: flex;
          scroll-behavior: smooth;
          align-content: center;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      .by-tag {
        div:first-child {
          padding-top: 0rem !important;
        }
      }

      .b-c {
        p {
          font-size: 0.8rem !important;
        }
      }

      .right-arrow {
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        &::before {
          font-size: 1.4rem;
          content: "\F134";
          border-radius: 50%;
          box-shadow: 0px 0px 5px rgb(0 0 0 / 52%);
          font-family: bootstrap-icons !important;
          background: #fff;
        }
      }
      .left-arrow {
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        &::before {
          font-size: 1.4rem;
          content: "\F12A";
          border-radius: 50%;
          box-shadow: 0px 0px 5px rgb(0 0 0 / 52%);
          font-family: bootstrap-icons !important;
          background: #fff;
        }
      }
    }

    .search-product {
      img {
        width: 60px;
        height: 60px;
      }
      p {
        display: -webkit-box;
        width: 140px;
        font-size: 0.83rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.97;
      }
    }
  }
  .bi-box-arrow-in-right {
    vertical-align: middle;
  }

  #login {
    font-size: 0.88rem;
  }

  .roller {
    width: 1px;
    height: 24px;
    background-color: rgb(90 90 90 / 26%);
  }

  #basket {
    font-size: 1.2rem;
  }

  .user-menu-btn {
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .user-menu {
    width: 250px;
    background: #fff;
    top: 38.6px;
    right: 0;
    border: 1px solid;
    a {
      color: rgb(26 26 26 / 82%);
      transition: background 0.18s ease-in-out;
      position: relative;
      &:hover {
        background: rgb(227, 227, 227);
      }
    }

    .btm-b {
      &::after {
        position: absolute;
        bottom: 0;
        left: 40px;
        width: 83%;
        height: 1px;
        content: "";
        background: rgb(205, 205, 205);
      }
    }

    .bi-bag,
    .bi-suit-heart,
    .bi-chat-left-text,
    .bi-box-arrow-left {
      &:before {
        font-weight: bolder !important;
      }
    }
  }

  .bi-person {
    font-size: 1.2rem;
  }

  [type="button"] {
    height: 38px;
    display: flex;
    align-items: center;
  }
}

.category-head {
  h2 {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;

    &::before {
      content: "\F479";
      font-family: "bootstrap-icons" !important;
      margin: auto 0;
      margin-right: 0.4rem;
    }
  }
}

.bi-chevron-right {
  font-size: 0.7rem;
}

.category-items {
  min-width: 200px;
  .category-item {
    &:hover {
      color: #384aeb;
      background: #dcdcdc61;
    }
  }
}

.category-item {
  padding: 0.6rem 0.5rem;
  font-weight: 600;
}

.category-list {
  position: relative;
  li {
    a {
      margin-left: 0.5rem;
    }
    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 80%;
      top: 0.25rem;
      background: #384aeb;
    }
  }
}

.navbar-sm {
  position: absolute;
  content: "";
  background: #fff;
  left: -100%;
  transition: left 0.4s ease-in-out;
  top: 0;
  width: 311px;
  height: 100vh;
}

.accordion {
  overflow-y: scroll;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0.75rem 0 !important;
    #logo {
      font-size: 1.7rem;
    }
    .navbar-res {
      .bi-list{
        display: block;
      }
    }
  }
  .category-head {
    display: none;
  }
  .search-box {
    width: 100% !important;
  }
  .le-ga {
    margin: 0 auto;
  }
  .navbar .navbar-res {
    // grid-template-columns: 1.3fr 1fr;
    grid-template-columns: auto;
    grid-gap: 1rem;
    grid-template-areas:
      "logo"
      "searchbar"
      "login";
  }
  .lo-bt {
    margin-left: 0 !important;
  }
  .navbar .user-menu {
    left: 0;
  }

}
